.timeline-wrapper {
    background: linear-gradient(to right, #FFB6C1, #FF66A2);
    /* Lighter pinkish gradient background */
    min-height: 100vh;
    /* Adjust this based on your layout */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Add other styling as needed */

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.hover-button {
    background-color: #FFB6C1;
    /* Set your desired color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Add smooth transition on hover */
}

.hover-button:hover {
    background-color: #FF66A2;
    /* Change color on hover */
}
